.vp-construction-text {
	color: #d76e1b;
}

.vp-creative-text {
	color: #f0c80e;
}

.vp-primary-text {
	color: #4a9134;
}

.vp-service-text {
	color: #0099bf;
}

.vp-social-text {
	color: #4f4b8b;
}

.vp-manufacturing-text {
	color: #b10f18;
}

.vp-construction-bg {
	background-color: #d76e1b;
}

.vp-creative-bg {
	background-color: #f0c80e;
}

.vp-primary-bg {
	background-color: #4a9134;
}

.vp-service-bg {
	background-color: #0099bf;
}

.vp-social-bg {
	background-color: #4f4b8b;
}

.vp-manufacturing-bg {
	background-color: #b10f18;
}